# Laravel
/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor

# Ambiente
.env
.env.backup
.env.production
.env.*
!.env.example

# PHP / Composer
.phpactor.json
.phpunit.result.cache
/auth.json

# Node
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Sistema e IDE
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Vagrant / Homestead
Homestead.json
Homestead.yaml

# Docker (overrides locais)
docker-compose.override.yml
